{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{% trans "Set Password" %} :: {{ block.super }}{% endblock %}

{% block content %}
  <div class="ui text container margin-2-0">
    <h3 class="ui top attached header">{% trans "Set Password" %}</h3>
    <div class="ui attached stacked segment">
      <form method="POST" action="{% url 'account_set_password' %}" class="ui form password_set">{% csrf_token %}
        {{ form.as_p }}
        <button class="ui primary button" type="submit" name="action">{% trans 'Set Password' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
