{% extends "account/base.html" %}
{% load i18n account %}
{% block title %}{% trans "Password Reset" %} :: {{ block.super }}{% endblock %}
{% block robot %}<meta name="robots" content="noodp"/>{% endblock %}
{% block canonical %}{% url 'account_reset_password' %}{% endblock %}

{% block content %}
  <div class="ui text container margin-2-0">
    <div class="ui attached message">
      <div class="header">{% trans "Password Reset" %}</div>
      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

      {% if user.is_authenticated %}
        <div class="ui warning message">
          {% include "account/snippets/already_logged_in.html" %}
        </div>
      {% endif %}
    </div>

    <form class="ui form attached fluid segment" method="post" action="{% url 'account_reset_password' %}">
      {% csrf_token %}
      <div class="field">
        <label>{{ form.email.label }} *</label>
        <div class="ui left icon input">
          {{ form.email }}
          <i class="mail icon"></i>
        </div>
        {% if form.email.errors %}
          <div class="ui pointing red basic label">
            {% for error in form.email.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="field">
        <label>{{ form.captcha.label }} *</label>
        {{ form.captcha }}
        {% if form.captcha.errors %}
          <div class="ui pointing red basic label">
            {% for error in form.captcha.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <button class="fluid ui orange big button" type="submit">
        <i class="send icon"></i> {% trans 'Reset My Password' %}
      </button>
    </form>
    <div class="ui bottom attached warning message">
      <i class="info icon circle"></i> {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
