{% extends "base.html" %}
{% load i18n staticfiles %}
{% load common_tags martortags %}
{% block title %}{{ question.title }} :: {{ block.super }}{% endblock %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'css/martor/martor.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="page content">
    <div class="repo ribbon ribbon-detail">
      <div class="ui container">
        <div class="ui massive breadcrumb breadcrumb-title-detail">
          <a href="{% url 'question_detail' pk=question.pk slug=question.slug %}"
            class="ui grey section no-underline spf-link">{{ question.title }}</a>
        </div>
        <div class="repo options">
          <div class="ui small primary button">
            Ask Question
          </div>
        </div>
      </div>
    </div>

    <div class="ui equal width vertically padded grid container">
      <div class="twelve wide column">
        <div class="ui divided items">
          <div class="item item-question">
            <div class="stats">
              <div class="vote-up stats-inside-detail">
                <i class="triangle up big link grey icon"></i>
              </div>
              <div class="vote-total stats-inside-detail">
                <div class="value">
                  304
                </div>
              </div>
              <div class="vote-down stats-inside-detail">
                <i class="triangle down big link grey icon"></i>
              </div>
              <div class="favorite-icon stats-inside-detail">
                <i class="star link disabled icon"></i>
              </div>
              <div class="favorite-count stats-inside-detail">
                <div class="value">
                  20
                </div>
              </div>
            </div>
            <div class="content">
              <div class="description martor-preview content-description-detail">
                {{ question.description|safe_markdown }}
              </div>
              <div class="extra">
                <div class="tags-question-detail">
                  {% for tag in question.tags.all %}
                    <a href="" class="ui small label no-radius">{{ tag.title }}</a>
                  {% endfor %}
                </div>

                <table class="ui table no-border table-question-footer">
                  <tbody>
                    <tr>
                      <td class="ui grey color no-border sef-actions">
                        <span class="ui link grey color share-action">share</span>
                        <span class="ui link grey color edit-action">edit</span>
                        <span class="ui link grey color flag-action">flag</span>
                      </td>

                      {% if question.editor %}
                        <td class="no-border user-info user-signature">
                          <div class="ui comments">
                            <a class="ui link no-underline user-action-time" title="{{ question.modified }}">
                              {% blocktrans with time=question.modified|timesince %}edited {{ time }} ago{% endblocktrans %}
                            </a>
                            <div class="comment user-info-signature">
                              <a class="avatar spf-link" href="{% url 'user_profile' pk=question.editor.pk username=question.editor.username %}">
                                <img src="{{ question.editor.email|gravatar:'75' }}">
                              </a>
                              <div class="content">
                                <a class="author spf-link" href="{% url 'user_profile' pk=question.editor.pk username=question.editor.username %}">{{ question.editor }}</a>
                                <div class="text">
                                  <span class="reputation">
                                    <i class="diamond orange icon"></i> <b>269K</b>
                                  </span>
                                  <span class="gold-badge">
                                    <i class="circle small yellow icon icon-dot-badge"></i> 12
                                  </span>
                                  <span class="silver-badge">
                                    <i class="circle small grey icon icon-dot-badge"></i> 38
                                  </span>
                                  <span class="bronze-badge">
                                    <i class="circle small brown icon icon-dot-badge"></i> 93
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      {% endif %}

                      <td class="no-border user-info user-signature">
                        <div class="ui comments">
                          <span class="ui grey color user-action-time" title="{{ question.created }}">
                            {% blocktrans with time=question.created|timesince %}asked {{ time }} ago{% endblocktrans %}
                          </span>
                          <div class="comment user-info-signature">
                            <a class="avatar spf-link" href="{% url 'user_profile' pk=question.author.pk username=question.author.username %}">
                              <img src="{{ question.author.email|gravatar:'75' }}">
                            </a>
                            <div class="content">
                              <a class="author spf-link" href="{% url 'user_profile' pk=question.author.pk username=question.author.username %}">{{ question.author }}</a>
                              <div class="text">
                                <span class="reputation">
                                  <i class="diamond orange icon"></i> <b>269K</b>
                                </span>
                                <span class="gold-badge">
                                  <i class="circle small yellow icon icon-dot-badge"></i> 12
                                </span>
                                <span class="silver-badge">
                                  <i class="circle small grey icon icon-dot-badge"></i> 38
                                </span>
                                <span class="bronze-badge">
                                  <i class="circle small brown icon icon-dot-badge"></i> 93
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="ui divider"></div>

                <table class="ui table no-border table-question-comments">
                  <tbody>
                    <tr>
                      <td class="ui grey color">
                        18
                      </td>
                      <td>
                        <i class="arrow up grey link icon hover-opacity"></i><br />
                        <i class="flag grey link icon hover-opacity"></i>
                      </td>
                      <td>If you are using heroku Toobelt then this is a nice choice. :) Thanks for the share. &ndash; <a>mikeDOTexe</a> <date class="ui grey color">Feb 6 '16 at 3:15</date> <i class="ui pencil small grey icon"></i></td>
                    </tr>
                    <tr>
                      <td class="ui grey color">
                        7
                      </td>
                      <td>
                        <i class="arrow up grey link icon hover-opacity"></i><br />
                        <i class="flag grey link icon hover-opacity"></i>
                      </td>
                      <td>If you are using heroku Toobelt then this is a nice choice. :) Thanks for the share. &ndash; <a>mikeDOTexe</a> <date class="ui grey color">Feb 6 '16 at 3:15</date></td>
                    </tr>
                    <tr>
                      <td colspan="3" style="padding:10px;">
                        <span class="ui blue color link">add a comment</span> |
                        <span class="ui blue color link">show <b>6</b> more comments</span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="no-border">
                        <span class="ui link bounty-action">start a bounty</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- end /.item-question -->

          {% if question.answer_question.approved %}
            <div class="ui tabular menu">
              <div class="ui container">
                <h3 class="left floated header item">
                  {{ question.answer_question.approved.count }}
                  {% if question.answer_question.approved.count <= 1 %}{% trans "Answer" %}{% else %}{% trans "Answers" %}{% endif %}
                </h3>
                <a class="active item">
                  <i class="wait icon"></i> {% trans "active" %}
                </a>
                <a class="item">
                  <i class="history icon"></i> {% trans "oldest" %}
                </a>
                <a class="item">
                  <i class="heart icon"></i> {% trans "votes" %}
                </a>
              </div>
            </div>
          {% endif %}{# question.answer_question.approved #}

          {% for answer in question.answer_question.approved %}
            <div class="item item-answers no-border">
              <div class="stats">
                <div class="vote-up stats-inside-detail">
                  <i class="triangle up big link orange icon"></i>
                </div>
                <div class="vote-total stats-inside-detail">
                  <div class="value">
                    304
                  </div>
                </div>
                <div class="vote-down stats-inside-detail">
                  <i class="triangle down big link grey icon"></i>
                </div>
                <div class="favorite-icon stats-inside-detail">
                  <i class="check link green icon"></i>
                </div>
              </div>
              <div class="content">
                <div class="description martor-preview content-description-detail">
                  {{ answer.description|safe_markdown }}
                </div>
                <div class="extra">
                  <table class="ui table no-border table-answer-footer">
                    <tbody>
                      <tr>
                        <td class="ui grey color no-border sef-actions">
                          <span class="ui link grey color share-action">{% trans "share" %}</span>
                          <span class="ui link grey color edit-action">{% trans "edit" %}</span>
                          <span class="ui link grey color flag-action">{% trans "flag" %}</span>
                        </td>
                        {% if answer.editor %}
                          <td class="no-border user-info user-signature">
                            <div class="ui comments">
                              <a class="ui link no-underline user-action-time" title="{{ answer.modified }}">
                                {% blocktrans with time=answer.modified|timesince %}edited {{ time }} ago{% endblocktrans %}
                              </a>
                              <div class="comment user-info-signature">
                                <a class="avatar spf-link" href="{% url 'user_profile' pk=answer.editor.pk username=answer.editor.username %}">
                                  <img src="{{ answer.editor.email|gravatar:'75' }}">
                                </a>
                                <div class="content">
                                  <a class="author spf-link" href="{% url 'user_profile' pk=answer.editor.pk username=answer.editor.username %}">{{ answer.editor }}</a>
                                  <div class="text">
                                    <span class="reputation">
                                      <i class="diamond orange icon"></i> <b>269K</b>
                                    </span>
                                    <span class="gold-badge">
                                      <i class="circle small yellow icon icon-dot-badge"></i> 12
                                    </span>
                                    <span class="silver-badge">
                                      <i class="circle small grey icon icon-dot-badge"></i> 38
                                    </span>
                                    <span class="bronze-badge">
                                      <i class="circle small brown icon icon-dot-badge"></i> 93
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        {% endif %}{# answer.editor #}
                        <td class="no-border user-info user-signature">
                          <div class="ui comments">
                            <span class="ui grey color user-action-time" title="{{ answer.created }}">
                              {% blocktrans with time=answer.created|timesince %}answered {{ time }} ago{% endblocktrans %}
                            </span>
                            <div class="comment user-info-signature">
                              <a class="avatar spf-link" href="{% url 'user_profile' pk=answer.author.pk username=answer.author.username %}">
                                <img src="{{ answer.author.email|gravatar:'75' }}">
                              </a>
                              <div class="content">
                                <a class="author spf-link" href="{% url 'user_profile' pk=answer.author.pk username=answer.author.username %}">{{ answer.author }}</a>
                                <div class="text">
                                  <span class="reputation">
                                    <i class="diamond orange icon"></i> <b>269K</b>
                                  </span>
                                  <span class="gold-badge">
                                    <i class="circle small yellow icon icon-dot-badge"></i> 12
                                  </span>
                                  <span class="silver-badge">
                                    <i class="circle small grey icon icon-dot-badge"></i> 38
                                  </span>
                                  <span class="bronze-badge">
                                    <i class="circle small brown icon icon-dot-badge"></i> 93
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="ui divider"></div>
                  <table class="ui table no-border table-answer-comments">
                    <tbody>
                      <tr>
                        <td class="ui grey color">
                          18
                        </td>
                        <td>
                          <i class="arrow up grey link icon hover-opacity"></i><br />
                          <i class="flag grey link icon hover-opacity"></i>
                        </td>
                        <td>If you are using heroku Toobelt then this is a nice choice. :) Thanks for the share. &ndash; <a>mikeDOTexe</a> <date class="ui grey color">Feb 6 '16 at 3:15</date> <i class="ui pencil small grey icon"></i></td>
                      </tr>
                      <tr>
                        <td class="ui grey color">
                          7
                        </td>
                        <td>
                          <i class="arrow up grey link icon hover-opacity"></i><br />
                          <i class="flag grey link icon hover-opacity"></i>
                        </td>
                        <td>If you are using heroku Toobelt then this is a nice choice. :) Thanks for the share. &ndash; <a>mikeDOTexe</a> <date class="ui grey color">Feb 6 '16 at 3:15</date></td>
                      </tr>
                      <tr>
                        <td colspan="3" style="padding:10px;">
                          <span class="ui blue color link">add a comment</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- end /.item-answers -->
          {% endfor %}{# question.answer_question.approved #}

          <div class="ui divider"></div>

          <h3 class="ui grey header" style="margin-bottom: 1.5em">{% trans "Your Answer" %}</h3>
          <div class="answer-main" style="display:none">
            {% if request.user.is_authenticated %}
              <form class="ui form" method="post" action="{% url 'answer_create' question_id=question.id %}">
                {% csrf_token %}
                <div class="field">
                  {{ answer_form.description }}
                </div>
                <div class="field">
                  <div class="ui clearing segment no-border post-action-segment">
                    <button class="ui right floated positive button post-answer-button" type="submit" disabled>
                      <i class="check icon"></i> {% trans "Post Your Answer" %}
                    </button>
                  </div>
                </div>
              </form>
            {% else %}
              <div class="ui center aligned piled secondary segment">
                <div class="ui big buttons">
                  <a class="ui green button" href="{% url 'account_signup' %}?next={{ request.get_full_path }}">{% trans "Signup" %}</a>
                  <div class="or"></div>
                  <a class="ui blue button" href="{% url 'account_login' %}?next={{ request.get_full_path }}">{% trans "Signin" %}</a>
                </div>
              </div>
            {% endif %}
          </div><!-- end /.answer-main -->
        </div><!-- end /.items -->

        <div class="ui divider"></div>

        <div class="ui paginations">
          <div class="ui small pagination menu">
            <a class="active item">
              1
            </a>
            <a class="item">
              2
            </a>
            <a class="item">
              3
            </a>
            <div class="disabled item">
              ...
            </div>
            <a class="item">
              20
            </a>
            <a class="item">
              next
            </a>
          </div><!-- end /.ui.pagination.menu -->
        </div><!-- end /.paginations -->
      </div>
      <div class="column right-sidebar">
        <div class="ui fluid right vertical">
          <div class="sidebar-question-info">
            <table class="ui table no-border">
              <tbody>
                <tr>
                  <td class="ui grey color no-border">{% trans "asked" %}</td>
                  <td class="no-border" title="{{ question.created }}">{{ question.created|timesince }} {% trans "ago" %}</td>
                </tr>
                <tr>
                  <td class="ui grey color no-border">{% trans "viewed" %}</td>
                  <td class="no-border">1,164 times</td>
                </tr>
                <tr>
                  <td class="ui grey color no-border">{% trans "active" %}</td>
                  <td class="no-border">
                    <a href="" class="ui link blue color no-border spf-link" title="{{ question.created }}">{{ question.modified|timesince }} {% trans "ago" %}</a>
                  </span>
                </tr>
              </tbody>
            </table>
          </div><!-- end /.sidebar-question-info-->

          <!--<div class="ui divider"></div>-->

          <div class="sidebar-bulletin">
            <div class="ui list">
              <a class="item no-underline">
                <i class="lightning icon"></i>
                <div class="content">
                  An excellent polish restaurant, quick delivery and hearty
                </div>
              </a>
              <a class="item no-underline">
                <i class="lightning icon"></i>
                <div class="content">
                  A taste of Shaanxi's delicious culinary traditions
                </div>
              </a>
              <a class="item no-underline">
                <i class="lightning icon"></i>
                <div class="content">
                  Greenpoint's best choice for quick and delicious sushi.
                </div>
              </a>
            </div>
          </div><!-- end /.sidebar-bulletin -->

          <!--<div class="ui divider"></div>-->

          <div class="sidebar-related-tags">
            <h3 class="ui grey header">Related Tags</h3>
            <div class="ui selection list"><!-- divided -->
              <a class="item no-underline">
                <div class="ui horizontal label no-radius">Fruit</div>
                × 77468
              </a>
              <a class="item no-underline">
                <div class="ui horizontal label no-radius">Candy</div>
                × 16671
              </a>
              <a class="item no-underline">
                <div class="ui horizontal label no-radius">Fruit</div>
                × 9092
              </a>
              <a class="item no-underline">
                <div class="ui horizontal label no-radius">Dog</div>
                × 7066
              </a>
            </div>
          </div><!-- end /.sidebar-related-tags -->

          <div class="ui divider"></div>

          <div class="sidebar-related-questions">
            <h3 class="ui grey header">Related</h3>
            <div class="ui list">
              <a class="item no-underline">
                <i class="ui answered icon">20</i>
                <div class="content">
                  Implementing multiple profiles with django-all-auth
                </div>
              </a>
              <a class="item no-underline">
                <i class="ui answered icon">38</i>
                <div class="content">
                  How to customize user profile when using django-allauth
                </div>
              </a>
              <a class="item no-underline">
                <i class="ui unanswered icon">27</i>
                <div class="content">
                  Django Endless Pagination Twitter Style Ajax breaks on another Ajax call
                </div>
              </a>
              <a class="item no-underline">
                <i class="ui unanswered icon">27</i>
                <div class="content">
                  Distinctively visualize vertical mindshare
                </div>
              </a>
            </div>
          </div><!-- end /.sidebar-related-questions -->
        </div><!-- end /.ui fluid right vertical -->
      </div>
    </div><!-- end /.ui equal width vertically padded grid container -->

  </div><!-- end /.page.content -->
{% endblock %}


{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/martor.min.js' %}"></script>
  <script>
    setTimeout(function(){$('.answer-main').show()}, 1000);
    $('.tab-martor-menu').removeClass('secondary pointing');
    $('.martor-preview pre').each(function(i, block){hljs.highlightBlock(block)});
    $(document).keyup(function(){
      if($('textarea[name=description]').val().length >= 10) {
        $('.post-answer-button').removeAttr('disabled');
      }else {
        $('.post-answer-button').attr({'disabled': 'disabled'});
      }
    });
  </script>
{% endblock %}
