{% extends "base.html" %}
{% load i18n staticfiles %}
{% load common_tags martortags %}
{% block title %}
  {% if question %}
    {% blocktrans with title=question.title %}Edit Question "{{ title }}"{% endblocktrans %} :: {{ block.super }}
  {% else %}
    {% trans "Ask a Question" %} :: {{ block.super }}
  {% endif %}
{% endblock %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'css/martor/martor.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="page content">
  <div class="repo ribbon ribbon-detail">
    <div class="ui container">
      {% if question %}
        <div class="ui massive breadcrumb breadcrumb-title-detail">
          {% blocktrans with title=question.title %}Edit Question "{{ title }}"{% endblocktrans %}
        </div>
        <div class="repo options">
          <a class="ui small button spf-link" href="{% url 'question_redirect' pk=question.pk %}">
            {% trans "Back to Question" %}
          </a>
        </div>
      {% else %}
        <div class="ui massive breadcrumb breadcrumb-title-detail">{% trans "Ask a Question" %}</div>
        <div class="repo options">
          <a onclick="window.history.go(-1); return false;" class="ui small button spf-link">
            {% trans "Go Back" %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="ui equal width vertically padded grid container">
    <div class="twelve wide column">
      <div class="answer-main" style="display:none">
        <form class="ui form" method="post">
          {% csrf_token %}
          <div class="field">
            <label>{{ form.title.label }} *</label>
            <div class="ui left icon input">
              {{ form.title }}
              <i class="terminal icon"></i>
            </div>
            {% if form.title.errors %}
              <div class="ui pointing red basic label">
                {% for error in form.title.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="ui divider padded no-border"></div>
          <div class="field">
            {{ form.description }}
          </div>
          <div class="field">
            <label>{{ form.tags.label }} *</label>
            {{ form.tags }}
            {% if form.tags.errors %}
              <div class="ui pointing red basic label">
                {% for error in form.tags.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {% if question %}
            <div class="field">
              <label>{% trans "Edit Summary" %} *</label>
              <div class="ui left icon input">
                <input type="text" name="comment" id="id_comment" minlength="5" maxlength="200" required
                  placeholder="{% trans 'briefly explain your changes (corrected spelling, fixed grammar, improved formatting)' %}">
                <i class="comment outline icon"></i>
              </div>
            </div>
          {% endif %}
          <div class="field">
            <div class="ui clearing segment no-border post-action-segment">
              {% if question %}
                <button class="ui right floated blue button post-question-button" type="submit" disabled>
                  <i class="check icon"></i> {% trans "Update Question" %}
                </button>
                <a href="{% url 'question_redirect' pk=question.pk %}" class="ui right floated button post-question-button">
                  <i class="remove icon"></i> {% trans "Cancel" %}
                </a>
              {% else %}
                <button class="ui right floated positive button post-question-button" type="submit" disabled>
                  <i class="check icon"></i> {% trans "Update Question" %}{% trans "Post Your Question" %}
                </button>
              {% endif %}
            </div>
          </div>
        </form>
      </div><!-- end /.answer-main -->
    </div>
    <div class="column right-sidebar">
      <div class="ui fluid right vertical">
        <div class="sidebar-help sidebar-bulletin sidebar-help-title" {% if question %}style="display:none"{% endif %}>
          <h3 class="ui header">{% trans "How to Ask" %}</h3>
          <p>Is your question about programming?</p>
          <p>We prefer questions that can be answered, not just discussed.</p>
          <p>Provide details. Share your research.</p>
          <p>If your question is about this website, <a>ask it on meta</a> instead.</p>
        </div>
        <div class="sidebar-help sidebar-bulletin sidebar-help-title-edit" {% if not question %}style="display:none"{% endif %}>
          <h3 class="ui header">{% trans "How to Edit" %}</h3>
          <div class="ui list">
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">fix grammatical or spelling errors</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">clarify meaning without changing it</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">correct minor mistakes</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">add related resources or links</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content"><i>always</i> respect the original author</div>
            </div>
          </div>
        </div>
        <div class="sidebar-help sidebar-bulletin sidebar-help-description" style="display:none">
          <h3 class="ui header">{% trans "How to Format" %}</h3>
          <div class="ui list">
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">put returns between paragraphs</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">for linebreak add 2 spaces at end</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content"><i>_italic_</i> or <strong>**bold**</strong></div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">indent code by 4 spaces</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">backtick escapes <code>`like _so_`</code></div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">quote by placing > at start of line</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">to make links [foo](http://foo.com)</div>
            </div>
          </div>
        </div>
        <div class="sidebar-help sidebar-bulletin sidebar-help-tags" style="display:none">
          <h3 class="ui header">{% trans "How to Tag" %}</h3>
          <p>
            A tag is a keyword or label that categorizes your question with other, similar questions.
            Choose one or more (up to 5) tags that will help answerers to find and interpret your question.
          </p>
          <div class="ui list">
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">complete the sentence: <i>my question is about...</i></div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">use tags that describe things or concepts that are essential, not incidental to your question</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">favor using existing <a>popular tags</a></div>
            </div>
          </div>
          <p>If your question is primarily about a topic for which you can't find a tag:</p>
          <div class="ui list">
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">
                combine multiple words into single-words with hyphens
                (e.g. <label class="ui small label">ruby-on-rails</label>), up to a maximum of 35
              </div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">
                <a>creating new tags is a privilege</a>; if you can't yet create a tag you need,
                then post this question without it, then <a>ask the community to create it for you</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/martor.min.js' %}"></script>
  <script>
    setTimeout(function(){$('.answer-main').show()}, 1000);
    $('.tab-martor-menu').removeClass('secondary pointing');
    $('.martor-preview pre').each(function(i, block){hljs.highlightBlock(block)});
    //$('.ui.search.tags-dropdown').dropdown({maxSelections: 5, transition: 'fade up'});
    $('.ui.search.tags-dropdown').dropdown({
      placeholder: '{% trans "at least one tag such as (sql css mysql), max 5 tags" %}',
      allowAdditions: false,
      apiSettings: {
        url: '{% url "tags_search_json" %}?q={query}'
      },
      fields: {
        remoteValues : 'results',
        name         : 'title',
        text         : 'title',
        value        : 'id'
      },
    }).dropdown('restore defaults');

    var disabledPostButton = function() {
      if($('textarea[name=description]').val().length >= 10) {
        $('.post-question-button').removeAttr('disabled');
      }else {
        $('.post-question-button').attr({'disabled': 'disabled'});
      }
    }
    disabledPostButton();
    $(document).keyup(function(){disabledPostButton()});

    var showHelp = function(selector) {
      $('.sidebar-help').hide();
      $(selector).show();
    }
    $(document).on('click', '.martor-field-description', function(){
      showHelp('.sidebar-help-description');
    });
    $('#id_title').click(function(){
      {% if question %}{# edit mode #}
        showHelp('.sidebar-help-title-edit');
      {% else %}{# create mode #}
        showHelp('.sidebar-help-title');
      {% endif %}
    });
    $('.tags-dropdown').click(function(){
      showHelp('.sidebar-help-tags');
    });
  </script>
{% endblock %}
