{% extends "base.html" %}
{% load i18n %}
{% load counter %}
{% block title %}Tags :: {{ block.super }}{% endblock %}

{% block content %}
  <div class="page content">
    <div class="repo ribbon">
      <div class="ui tabular menu">
        <div class="ui container">
          <h3 class="left floated header item" style="padding-left: 0;">
            Tags &dash;&nbsp; <small>A tag is a keyword or label that categorizes your question with other, similar questions.</small>
          </h3>
          <form class="item">{% csrf_token %}
            <div class="ui small input">
              <input type="text" name="find-tags" placeholder="{% trans 'Type to find tags' %}">
            </div>
          </form>
          <a class="{% if request.GET.order != 'name' and request.GET.order != 'new' %}active{% endif %} item spf-link" href="?order=popular">
            <i class="lightning icon"></i> popular
          </a>
          <a class="{% if request.GET.order == 'name' %}active{% endif %} item spf-link" href="?order=name">
            <i class="list ordered icon"></i> name
          </a>
          <a class="{% if request.GET.order == 'new' %}active{% endif %} item spf-link" href="?order=new">
            <i class="rss icon"></i> new
          </a>
        </div>
      </div>
    </div>

    <div class="ui grid container container-default-tags-items">
      {% for tag in tags %}
        <div class="four wide column tag-column">
          <p><a class="ui small label no-radius">{{ tag.title }}</a> × {{ tag|get_total_questions_tagged }}</p>
          <p class="ui grey color">{{ tag.short_description|safe|striptags|truncatewords:"12" }}</p>
          <p><small class="ui link">532 asked today, 5548 this week</small></p>
        </div>
      {% endfor %}
    </div><!-- end /.ui.grid.container.container-default-tags-items -->

    <div class="ui grid container container-offset-tags-items">
    </div><!-- end /.ui.grid.container.container-offset-tags-items -->

    <div class="ui paginations container tags-pagination">
      <div class="ui divider"></div>

      <div class="ui right floated small pagination menu">
        <a class="active item">
          1
        </a>
        <a class="item">
          2
        </a>
        <a class="item">
          3
        </a>
        <a class="item">
          4
        </a>
        <a class="item">
          5
        </a>
        <div class="disabled item">
          ...
        </div>
        <a class="item">
          2031
        </a>
        <a class="item">
          next
        </a>
      </div><!-- end /.ui.pagination.menu -->
    </div><!-- end /.paginations -->
  </div><!-- end /.page.content -->
{% endblock %}

{% block js %}
  <script>
    var inp = $('input[name="find-tags"]');
    inp.keyup(function(){
      var query = this.value;
      if(query.trim().length >= 1){
        $.ajax({
          type: 'GET',
          url: '{% url "tags_search_offset" %}?q='+query,
          success: function(response) {
            $('.tags-pagination').hide();
            $('.container-default-tags-items').hide();
            $('.container-offset-tags-items').html(response);
          }
        });
      }else {
        $('.tags-pagination').show();
        $('.container-default-tags-items').show();
        $('.container-offset-tags-items').html('');
      }
    });
  </script>
{% endblock %}
