{% extends "base.html" %}

{% block content %}
  <div class="page content">
    <!-- Repo Header -->
    <div class="repo ribbon">
      <div class="ui tabular menu">
        <div class="ui container">
          <h3 class="left floated header item" style="padding-left: 0;">Tags &dash;&nbsp; <small>A tag is a keyword or label that categorizes your question with other, similar questions.</small></h3>
          <form class="item">{% csrf_token %}
            <div class="ui small input">
              <input type="text" placeholder="Type to find tags">
            </div>
          </form>
          <a class="active item">
            <i class="flame icon"></i> popular
          </a>
          <a class="item">
            <i class="list ordered icon"></i> name
          </a>
          <a class="item">
            <i class="rss icon"></i> new
          </a>
        </div>
      </div>
    </div>

    <div class="ui grid container">
      <div class="four wide column tag-column">
        <p><a class="ui small label no-radius">javascript</a> × 1466482</p>
        <p class="ui grey color">JavaScript (not to be confused with Java) is a high-level, dynamic, multi-paradigm, weakly-typed language used for both client-side and server-side scripting.</p>
        <p><small class="ui link">532 asked today, 5548 this week</small></p>
      </div>
      <div class="four wide column tag-column">
        <p><a class="ui small label no-radius">java</a> × 1309178</p>
        <p class="ui grey color">Java (not to be confused with JavaScript or JScript) is a general-purpose object-oriented programming language designed to be used in conjunction with the Java Virtual Machine</p>
        <p><small class="ui link">412 asked today, 3902 this week</small></p>
      </div>
      <div class="four wide column tag-column">
        <p><a class="ui small label no-radius">python</a> × 813792</p>
        <p class="ui grey color">a dynamic and strongly typed programming language designed to emphasize usability. Two similar but mostly incompatible versions of Python are in widespread use (2 and 3).</p>
        <p><small class="ui link">462 asked today, 4487 this week</small></p>
      </div>
      <div class="four wide column">
        <p><a class="ui small label no-radius">php</a> × 1118634</p>
        <p class="ui grey color">a widely used, high-level, dynamic, object-oriented and interpreted scripting language primarily designed for server-side web development.</p>
        <p><small class="ui link">352 asked today, 3314 this week</small></p>
      </div>
      <div class="four wide column">
        <p><a class="ui small label no-radius">php</a> × 1118634</p>
        <p class="ui grey color">a widely used, high-level, dynamic, object-oriented and interpreted scripting language primarily designed for server-side web development.</p>
        <p><small class="ui link">352 asked today, 3314 this week</small></p>
      </div>
      <div class="four wide column">
        <p><a class="ui small label no-radius">php</a> × 1118634</p>
        <p class="ui grey color">a widely used, high-level, dynamic, object-oriented and interpreted scripting language primarily designed for server-side web development.</p>
        <p><small class="ui link">352 asked today, 3314 this week</small></p>
      </div>
      <div class="four wide column">
        <p><a class="ui small label no-radius">php</a> × 1118634</p>
        <p class="ui grey color">a widely used, high-level, dynamic, object-oriented and interpreted scripting language primarily designed for server-side web development.</p>
        <p><small class="ui link">352 asked today, 3314 this week</small></p>
      </div>
      <div class="four wide column">
        <p><a class="ui small label no-radius">php</a> × 1118634</p>
        <p class="ui grey color">a widely used, high-level, dynamic, object-oriented and interpreted scripting language primarily designed for server-side web development.</p>
        <p><small class="ui link">352 asked today, 3314 this week</small></p>
      </div>
    </div><!-- end /.ui.grid.container -->

    <div class="ui divider container"></div>

    <div class="ui paginations container">
      <div class="ui right floated small pagination menu">
        <a class="active item">
          1
        </a>
        <a class="item">
          2
        </a>
        <a class="item">
          3
        </a>
        <a class="item">
          4
        </a>
        <a class="item">
          5
        </a>
        <div class="disabled item">
          ...
        </div>
        <a class="item">
          2031
        </a>
        <a class="item">
          next
        </a>
      </div><!-- end /.ui.pagination.menu -->
    </div><!-- end /.paginations -->
  </div><!-- end /.page.content -->
{% endblock %}
