<div class="footer">
  <div class="ui container">
    <div class="ui section divider"></div>
    <div class="ui small right floated horizontal list">
      <a class="item" href="#">Status</a>
      <a class="item" href="#">API</a>
      <a class="item" href="#">Training</a>
      <a class="item" href="#">Shop</a>
      <a class="item" href="#">Blog</a>
      <a class="item" href="#">About</a>
      <a class="item" href="#">Pricing</a>
    </div>
    <i class="large github mark icon"></i>
    <div class="ui small horizontal list">
      <div class="disabled item" href="#">© 2016 GitHub, Inc.</div>
      <a class="item" href="#">Terms</a>
      <a class="item" href="#">Privacy</a>
      <a class="item" href="#">Security</a>
      <a class="item" href="#">Contact</a>
      <a class="item" href="#">Help</a>
    </div>
  </div>
</div>
