{% load i18n %}
{% load common_tags counter %}

<div class="page header">
  <div class="ui container">
    <div class="ui right floated icon text menu">
      {% if request.user.is_authenticated %}
        <div class="item">
          <span class="reputation">
            <i class="diamond orange icon"></i><b>269K</b>
          </span>
          &nbsp;
          <span class="gold-badge">
            <i class="circle small yellow icon icon-dot-badge"></i> 12
          </span>
          &nbsp;
          <span class="silver-badge">
            <i class="circle small grey icon icon-dot-badge"></i> 38
          </span>
          &nbsp;
          <span class="bronze-badge">
            <i class="circle small brown icon icon-dot-badge"></i> 93
          </span>
        </div>

        <a class="item" data-content="You have unread inbox">
          <span class="ui empty mini floating circular blue notification label"></span>
          <i class="inbox icon"></i>
        </a>
        <a class="item" data-content="You have unread notification in this repository.">
          <span class="ui empty mini floating circular blue notification label"></span>
          <i class="bell icon"></i>
        </a>
        <div class="ui add top right pointing dropdown item" data-content="Create new..." tabindex="0">
          <i class="large plus icon"></i>
          <i class="dropdown icon"></i>
          <div class="menu" tabindex="-1">
            <a class="item">New repository</a>
            <a class="item">New organization</a>
            <div class="divider"></div>
            <div class="header">This organization</div>
            <a class="item">Invite someone</a>
            <a class="item">New team</a>
            <a class="item">New repository</a>
            <div class="divider"></div>
            <div class="header">This repository</div>
            <a class="item">New issue</a>
            <a class="item">New collaborator</a>
          </div>
        </div>
        <div class="user top right pointing ui dropdown item" data-content="View profile and more" tabindex="0">
          <img class="ui mini rounded image" src="{{ request.user.email|gravatar:'45' }}">
          <i class="dropdown icon"></i>
          <div class="menu" tabindex="-1">
            <div class="user header">
              {% trans "Signed in as" %} <b>{{ request.user }}</b>
            </div>
            <div class="divider"></div>
            <a href="{% url 'user_profile_redirect' pk=request.user.pk %}" class="item spf-link">{% trans "Your Profile" %}</a>
            <a class="item">Your Stars</a>
            <a class="item">Explore</a>
            <a class="item">Help</a>
            <div class="divider"></div>
            <a class="item">Settings</a>
            <a class="item">Sign Out</a>
          </div>
        </div>
      {% else %}
        <div class="item">
          <a class="spf-link" href="{% url 'account_login' %}"><b>{% trans "Sign In" %}</b></a>
        </div>
        <div class="item">
          <a href="{% url 'account_signup' %}"><b>{% trans "Sign Up" %}</b></a>
        </div>
      {% endif %}
    </div>

    <div class="ui text menu">
      <a class="icon item spf-link" href="{% url 'question_homepage' %}">
        <i class="big emphasized question circle icon"></i>
      </a>
      <div class="item">
        <div class="ui small labeled input">
          <div class="ui label">
            Questions
          </div>
          <input type="text" placeholder="Search">
        </div>
        <a class="item spf-link" href="{% url 'question_homepage' %}">
          <b>Questions</b>
        </a>
        <a class="item spf-link" href="{% url 'tags' %}">
          <b>Tags</b>
        </a>
        <a class="item spf-link" href="{% url 'users' %}">
          <b>Users</b>
        </a>
      </div>
    </div>
  </div>
</div>
