{% load i18n %}

{% for field_diff in compare_data %}
  <h3 class="ui top block attached header">{% firstof field_diff.field.verbose_name field_diff.field.related_name %}{% if field_diff.is_related and not field_diff.follow %}<sup class="follow">*</sup>{% endif %}</h3>
  {% if field_diff.field.help_text %}<p class="help">{{ field_diff.field.help_text }}</p>{% endif %}
  <div class="ui attached segment module">
    <p>{{ field_diff.diff }}</p>
    <!--{% if field_diff.field.name == 'description' %}
      <pre>
        {{ field_diff.diff }}
      </pre>
    {% endif %}-->
  </div>
{% empty %}
  <div class="module">
    <p><strong>{% trans "There are no differences." %}</strong></p>
  </div>
{% endfor %}

<h4 class="ui top block attached header">{% trans "Edit comment:" %}</h4>
<div class="ui attached segment module">{{ version2.revision.comment|default:"(no comment exists)" }}</div>

{% if has_unfollowed_fields %}
<div class="ui message warning">
  <h4 class="ui header follow">{% trans "Note:" %}</h4>
  <div class="content">
    {% blocktrans %}
      Fields/entries marked with <sup class="follow">*</sup> are not under reversion control.
      It may be that not all marked information are correct.
    {% endblocktrans %}
  </div>
</div>
{% endif %}
